<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="header.png" alt="">
   
    <main>

        <div class="container">
            <h2>signup in CNC clone</h2>
            <form action="/signup" method="POST">
                <input type="number" name="NNI" placeholder="enter NNI" required>
                <input type="email" name="email" placeholder="enter email" required>
                <input type="text" name="username" placeholder="enter username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">sign up</button>
              </form>
            <a href="/login"> have an account? login</a>
        </div>
    

    </main>
    <footer>tous droits reserves © 2024 Mauriserie  </footer>
    <script src="script.js"></script>
</body>
</html>